*{
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.parent{
  width: 100%;
}
li{
  list-style-type: none;
}
body{
  display: flex;
  justify-content: center;
  min-width: 350px;
  /* line-height: 1.7; */
}
.nav{
  width: 100%;
  height: 4.5rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  /* background-color: aliceblue; */
  /* border: 1px solid black; */
  box-shadow: 0.3px 0.3px 4px rgb(227, 227, 227);
  z-index: 100;
  position: fixed;
  background-color: white;
}

.container{
  width: 100%;
  height: 100%;
  padding: 0 5rem 0 5rem;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
  align-items: center;
  /* z-index: 10; */
}

.logo-container{
  width: 30%;
  /* text-align: center; */
}

.logo-container>a>img{
  width: 40%;
  height: 17px;
  /* height: 40%; */
}

.field-container{
  height: 100%;
  width: 45%;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
  align-items: center;
  font-size: 0.9rem;
  /* opacity: 0.6; */
  /* font-weight: ; */
}
.field>a{
  opacity: 0.6;
}

.field>a:hover , .utilities>ul>li>a:hover, .updates>ul>li>a:hover{
  color: blue; 
}

a{
  color: black;
  text-decoration: none;
}
.fa-solid{
  font-size: large;
}

.nav-menu-container{
  position: absolute;
  height: 60%;
  min-width: 700px;
  /* border: 1px solid black; */
  box-shadow: 0.3px 0.3px 10px rgb(209, 208, 208);
  /* z-index: 100; */
  border-radius: 0.3rem;
  top: 4.4rem;
  right: 4.7rem;
  background-color: white;
  visibility:hidden;
}
/* .fa-solid:click .nav-menu-container{
  visibility: visible;
} */
.menu-header{
  height: 40%;
  display: flex;

}
.menu-header-item{
  width: 25%;
  text-align: center;
  padding: 1rem 0 0 0;
}
.menu-header-item h4{
  margin: 0.3rem 0 0.5rem 0;
  /* font-size: small; */
  font-weight: 600;
  opacity: 0.7;
}
.menu-header-item p{
  margin: 0.3rem 0 0.5rem 0;
  font-size: smaller;
  font-weight: 500;
  opacity: 0.6;
}
.menu-header-item img{
  max-height: 50px;
  max-width: 100%;
  /* opacity: 0.8; */
}

.menu-header-item>img:hover{
  opacity: 1;
}
.menu-footer{
  height: 60%;
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: rgb(250, 250, 250);
}
.menu-footer-item1{
  height: 60%;
  display: flex;
  width: 58%;
  height: 100%;
  justify-content: space-between;
}
.utilities, .updates{
  width: 45%;
  height: 100%;
  /* text-align: ; */
}
.utilities h3, .updates h3{
  /* text-align: center; */
  margin: 1.5rem 0 1rem 1.5rem;
  opacity: 0.7;

}
 .menu-footer-item2 h3{
  margin: 1.5rem 0 0.8rem 1.5rem;
  opacity: 0.7;
 }
.utilities ul li, .updates ul li{
  /* text-align: center; */
  margin: 1rem 0 0 1.5rem;
  opacity: 0.8;
}
.menu-footer-item2{
  width: 37%;
  height: 100%;
}
.menu-footer-item2{
  display: flex;
  flex-direction: column;
}
.menu-footer-item2-1{
  height: 30%;
  
}
.menu-footer-item2-2{
  width: 50%;
  height: 70%;
  display: flex;
  justify-content: space-between;
  padding-left: 1.5rem;
  /* padding-top: 1.5rem; */
  /* align-items: center; */
}
.menu-footer-item2 p{
  margin-top: 1rem;
  opacity: 0.7;
}
.image-1 img{
  max-height: 45px;
}
.image-2 img{
  max-height: 30px;
  margin-top: 0.4rem;
}
.image-1{
  text-align: center;
  /* margin-left: 2rem; */
  width: 50%;
}
.image-2{
  text-align: center;
  margin-left: 2rem;
  width: 50%;
}

.menu-header-item a:hover h4 {
  color: blue;
}
.menu-header-item a:hover img {
  opacity: 0.7;
}
.menu-footer-item2-2 a:hover p {
  color: blue;
}
.menu-footer-item2-2 a:hover img {
  opacity: 0.7;
}


/* landing section */
.parent-content{
  margin-top: 8rem;
  display: block;
  /* z-index: 1; */
}
.homepage{
  /* padding: 1rem; */
  /* border: 1px solid black; */
  display: block;
}
.container-2{
  /* border: 1px solid pink; */
  /* width: 1100px; */
  max-width: 100%;
  display: block;
  /* position: absolute; */
  text-align: center;
  padding-bottom: 5rem;
}
.container-2 img{
  max-height: 45vh;
}
.container-2 h1{
  margin-top: 3.5rem;
  font-size: 3rem;
  display: block;
  font-weight: 400;
  opacity: 0.7;
}

.container-2 p{
  margin-top: 1.5rem;
  font-size: large;
}

.container-2 .button{
  display: inline-block;
  width: 12rem;
  height: 2rem;
  text-align: center;
  padding-top: 7px;
  border-radius: 0.3rem;
  color: white;
  font-weight: 500;
  background-color: #387ed1;
  margin-top: 2.5rem;
  font-size: larger;
  
}
.container-2 .button:hover{
  background-color: #333;
}
.ecosystem{
  margin: 4rem 1rem 2rem 1rem;
  padding: 0 2rem 0 2rem;
}
.ecosystem-container{
  /* margin: 2rem 1rem 2rem 1rem; */
  padding: 0 2rem 0 2rem;
}
.upper-ecosystem{
  display: flex;
  justify-content: space-between;
}
.upper-ecosystem-left{
  width: 40%;
}
.upper-ecosystem-right{
  text-align: center;
  width: 55%;
}
.upper-ecosystem-right img{
  max-width: 100%;
  width: auto;
}
.upper-ecosystem-left h1{
  margin-bottom: 2rem;
  font-size: 2rem;
  opacity: 0.8;
  font-weight: 500;
}
.why-us-section h3{
  color: #424242;
  font-weight: 500;
  font-size: 1.5rem;
}
.why-us-section p{
  color: #666;
  margin: 5px 0 2rem 0;
  line-height: 1.8;
  font-weight: 400;
}
.why-us-section p a{
  color:#387ed1;
  font-weight: 450;
}
.why-us-section p a:hover{
  color:#333;
  font-weight: 450;
}
.upper-ecosystem-left .last-section p{
  margin-bottom: 0;
}
.upper-ecosystem-right p{
  text-align: center;
  width: 100%;
  margin: 1.5rem 0 15px 0;
  line-height: 1;
}
.upper-ecosystem-right p a{
  color: #387ed1;
  font-weight: 500;
}
.upper-ecosystem-right p a i{
  color: #387ed1;
  font-size: 0.9rem;
  margin: 0 0.2rem 0 0.2rem;
  /* font-weight: 400; */
}
.demo-link{
  margin-left: 1rem;
}
.product-link:hover i{
  color: #333;
}
.product-link:hover{
  color: #333;
}
.demo-link:hover i{
  color: #333;
}
.demo-link:hover{
  color: #333;
}

/* Press Logos */
.lower-ecosystem{
  width: auto;
  max-width: 100%;
  padding: 4.5rem;
  text-align: center;
}
.lower-ecosystem img{
  max-width: 100%;
}
.lower-ecosystem a:hover{
  opacity: 0.7;
}